body {
   font-family: "Roboto" ,sans-serif;
   background-color: black;
   text-align: center;
}

main {
   margin: 40px;
}

section.menu {
    background-color: white;
    border-radius: 25px;
    width: 900px;
    margin: 0 auto;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 30px;
}
.description hr {
   border-style: double;
   width: 90%;
}

hr {
   border-style: double;
   width: 90%;
}
.restaurant-address {
   font-weight: bold;
}

.restaurant-contact {
   font-weight: bold;
}

.description h3 {
    font-weight: 100;
    color: rgb(84, 82, 82);
    padding-top: 20px;
    text-transform: uppercase;
}

.description h1 {
    font-size: 56px;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
 img {
    border-radius: 100px;
 }



 li {
    list-style: none; 
 }

 li.food-item {
    font-weight: bolder;
 }

 li.ingredients {
    font-style: italic;
    font-size: 13px;
    color: rgb(84, 82, 82);
 }

 .drinks-dessert {
   margin: 0;
   padding: 30px;
   display: flex;
 }

 .price {
   margin: 0 auto;
 }